<!DOCTYPE html>
<html lang="en">

<head>
    <title>Speech-to-Tires</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div id="vehicle-page" class="col-md-12 page">
                <div class="row">
                    <h2>Vehicle</h2>
                </div>
                <div class="row">
                    <!--<img id="vehicle-mic" class="microphone" src="./images/microphone-512.png" />-->
                    <ol>
                        <li>Say "Tires Anytime" to begin, or "Help" for a list of voice commands</li>
                        <li>
                            Say the Year, Make, and Model of your vehicle <br /> (e.g. 2004 Ford Focus)
                        </li>
                    </ol>
                </div>
            </div>

            <div id="options-page" class="col-md-12 page">

                <div class="row">
                    <a class="back-button" href=""><img src="./images/arrow-92-512.png" /> Say "Back"</a>
                    <h2>Options</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 id="car"></h3>
                        <img id="car-thumbnail" src="" />

                    </div>
                    <div class="col-md-4">
                        <!--<img id="options-mic" class="microphone" src="./images/microphone-512.png" />-->
                        <ol>
                            <li>
                                Say the option number to the right that matches your vehicle
                                <p>For example: "three", "option three", "option number 3"</p>
                            </li>
                        </ol>
                    </div>

                    <div class="col-md-4">
                        <ol id="options"></ol>
                    </div>
                </div>
            </div>

            <div id="tires-page" class="col-md-12 page">
                <div class="row">
                    <a class="back-button" href=""><img src="./images/arrow-92-512.png" /> Say "Back"</a>
                    <h2>Tires</h2>
                </div>
                <div class="row">
                    <div id="tires">

                    </div>
                </div>
            </div>

        </div>

        <canvas class="visualizer" width="640" height="200"></canvas>

        <div id="status">
            <div id="notification" class="alert alert-info"></div>
            <div id="errors" class="alert alert-danger"></div>
        </div>
        <div id="version">v 0.6.3</div>
    </div>

    <template id="tire">
        <div class="col-md-4 tire-result">
            <h2>{{ tireClass }}</h2>
            <div class="col-md-4">
                <img class="logo" src="{{ logoImagePath }}">
                <img class="tire" src="{{ tireImagePath }}">
            </div>
            <div class="col-md-8">
                <span class="product-name">{{ productName }}</span>
                <span class="tire-description">{{ tireDescription }}</span>
                <span class="tire-size">{{ tireSize }}</span>
            </div>
        </div>
    </template>

    <div id="help">
        Search for tires with only your voice. The following commands are available:
        <dl>
            <dt>"Help"</dt>
            <dd>Display this help screen. If a keyboard is available, "?" will also open this help screen.</dd>
            <dt>"Close", "Done", or "Exit"</dt>
            <dd>Close this help screen. If a keyboard is available, "Esc" will also close this help screen.</dd>
            <dt>"Reset", "Restart", or "Reload"</dt>
            <dd>Said at anytime will take you back to the Vehicle Page</dd>
            <dt>"Tires Anytime"</dt>
            <dd>On the Vehicle Page will start listening for the "Year, Make, and Model" of your vehicle to begin a tire search</dd>
            <dt>"Back"</dt>
            <dd>Will take you back to the previous page</dd>
        </dl>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js" integrity="sha256-QbxNT+iBOdbuiav8squsceFDDYXb/8C+fI9r029M7X4=" crossorigin="anonymous"></script>

    <script src="./script/app.js"></script>
</body>

</html>